In [1]:
import os
print(os.listdir("./heartbeat"))

['mitbih_test.csv', 'ptbdb_abnormal.csv', '.DS_Store', 'ptbdb_normal.csv', 'mitbih_train.csv']

In [2]:
import numpy as np
import pandas as pd

In [118]:
dfNormal = pd.read_csv('./heartbeat/ptbdb_normal.csv')
dfAbnormal= pd.read_csv('./heartbeat/ptbdb_abnormal.csv')

In [141]:
dfNormal[:1,:].shape

(1, 186)

In [187]:
dfNormal.shape

(186, 1)

In [98]:
pd.DataFrame(dfNormal)

,0,1,2,3,4,5,6,7,8,9,...,176,177,178,179,180,181,182,183,184,185
0,1.000000,0.794681,0.375387,0.116883,0.000000,0.171923,0.283859,0.293754,0.325912,0.345083,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.909029,0.791482,0.423169,0.186712,0.000000,0.007836,0.063032,0.077002,0.074957,0.077342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.478893,0.056760,0.064176,0.081289,0.072732,0.055619,0.048774,0.054478,0.041643,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.867238,0.201360,0.099349,0.141336,0.120934,0.108516,0.096393,0.093436,0.100828,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.948983,0.505265,0.004176,0.022513,0.059550,0.107298,0.110385,0.111293,0.116558,0.118192,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4040,1.000000,0.929586,0.503550,0.293491,0.169822,0.159763,0.130769,0.125444,0.137278,0.111243,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4041,1.000000,0.637579,0.154837,0.061983,0.088965,0.083374,0.065143,0.057365,0.060039,0.060039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4042,1.000000,0.872574,0.465071,0.232212,0.126132,0.155886,0.174644,0.190168,0.203752,0.168823,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4043,0.915983,0.529373,0.288406,0.144536,0.171802,0.180669,0.177566,0.176458,0.178896,0.180448,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4044,1.000000,0.838643,0.390567,0.191146,0.033513,0.055854,0.129086,0.147290,0.155151,0.165494,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Reshape array for prediction

In [119]:
dfNormal = dfNormal.iloc[:, :186].values
normalBeat = dfNormal[..., np.newaxis]
normalBeat.shape

(4045, 186, 1)

In [120]:
normalBeat.shape

(4045, 186, 1)

In [121]:

dfAbnormal = dfAbnormal.iloc[:, :186].values
abnormalBeat = dfAbnormal[..., np.newaxis]
abnormalBeat.shape

(10505, 186, 1)

# Import Pre-Trained Model

In [29]:
from tensorflow.keras.models import load_model

In [30]:
model = load_model('heart_model.h5')

In [27]:

def return_prediction(model, sample):
    """Return a prediction for heart classification

    Arguments:
        model {model.h5} -- Pre-trained model to predict the heart classification
        sample {array} -- Sample of the ECG reading of dimension (1,186,1)

    Returns:
        string -- Returns the predictions
    """
    SAMPLE_NUMBER = 186
    
    if (SAMPLE_NUMBER != sample.size  ):
        return "Invaild Sample Size"
    else:
        classes = np.array(['Normal beat', 'Supraventricular premature beat', 'Premature ventricular contraction',
                            'Fusion of ventricular and normal beat', 'Unclassifiable beat'])
        y_pred = model.predict(sample)
        predict = np.argmax(y_pred, axis=1)
        return classes[predict]

In [182]:
normal = return_prediction(model, normalBeat)

In [123]:
abNormal = return_prediction(model, abnormalBeat)

In [126]:
normal = pd.DataFrame(normal)
abNormal = pd.DataFrame(abNormal)

In [127]:
normal.shape

(4045, 1)

In [183]:
normal

array(['Supraventricular premature beat'], dtype='<U37')

In [135]:
abNormal

                                       0
0                            Normal beat
1      Premature ventricular contraction
2        Supraventricular premature beat
3                    Unclassifiable beat
4                            Normal beat
...                                  ...
10500                        Normal beat
10501                        Normal beat
10502  Premature ventricular contraction
10503                        Normal beat
10504    Supraventricular premature beat

[10505 rows x 1 columns]

In [129]:
normal[0].value_counts()

Normal beat                              3607
Supraventricular premature beat           358
Premature ventricular contraction          73
Fusion of ventricular and normal beat       4
Unclassifiable beat                         3
Name: 0, dtype: int64

In [79]:
abNormal[0].value_counts()

Normal beat                              8084
Supraventricular premature beat          1430
Premature ventricular contraction         469
Unclassifiable beat                       339
Fusion of ventricular and normal beat     183
Name: 0, dtype: int64

In [186]:
#  Testing sample ECG
# testECG = dfAbnormal[2:3,:]
#  type(testECG)
# testECG
# np.savetxt('testECG.csv',testECG, delimiter=",")

In [70]:
test =  np.loadtxt('./testECG.csv', delimiter=",")
test.shape

(186,)

In [71]:
# Test ECG Predictions 
test = pd.DataFrame(test)
newTest = test.iloc[:186].values
newTest.shape

(186, 1)

In [73]:
testBeat = newTest[np.newaxis, ...]
testBeat.shape

(1, 186, 1)

In [75]:
testPred = return_prediction(model, testBeat)
testPred

array(['Supraventricular premature beat'], dtype='<U37')

# Error Test

In [80]:
# Error Test CSV
# np.savetxt('errorECG.csv',newTest, delimiter=",")
errorTest =  np.loadtxt('./errorECG.csv', delimiter=",")
errorTest.shape

(181,)

In [81]:
errorTest = pd.DataFrame(errorTest)
newErrorTest = errorTest.iloc[:186].values
newErrorTest.shape

(181, 1)

In [82]:
errorBeat = newErrorTest[np.newaxis, ...]
errorBeat.shape

(1, 181, 1)

In [84]:
# Error Prediction
errorPred = return_prediction(model, errorBeat)
errorPred

'Invaild Sample Size'